:root {
  --header-top-bg-color: #252323;
  --header-bg-color: var(--dark);
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--header-bg-color);
  z-index: 100;

  @include media-up($mobile-width) {
    top: -61px;
  }

  @include media-up($tablet-width) {
    top: -58px;
  }

  &__top {
    display: none;

    @include media-up($mobile-width) {
      display: block;
    }

    padding: var(--gap-s) 0;
    background-color: var(--header-top-bg-color);

    & .container {
      @extend %flex-align;

      gap: var(--gap-l);
    }

    .main-link {
      font-size: 14px;
      line-height: 1;
    }

    .company-worktime {
      display: none;
      margin-right: auto;

      @include media-down(1200px) {
        display: flex;
      }
    }
    .main-logo {
      margin-right: auto;

      @include media-down(1200px) {
        display: none;
      }
    }
  }

  &__bottom {
    padding: var(--gap-s) 0;

    & .container {
      @extend %flex-align;

      gap: var(--gap-l);
    }

    .main-logo {
      display: none;
      margin-right: auto;

      @include media-down(1200px) {
        display: flex;
      }
    }
  }

  &__callback-btn {
    display: none;

    @include media-up($laptop-width) {
      display: flex;
    }
  }

  &__callback-mobile-btn {
    display: none;
    @include media-down($laptop-width) {
      display: block;
      margin: 0 auto;
    }
  }
}
