include ../nav/nav
include ../main-btn/main-btn
include ../links/main-link
include ../social/social
include ../logos/main-logo/main-logo

header.header
  .header__top
    .container
      include ../company/contacts/company-worktime

      +social({
        list: [
          {
            href: 'tel:+79062723744',
            name: 'Телефон',
            icon: 'social-phone',
          },
          {
            href: 'mailto:info@littleweb.ru',
            name: 'mail',
            icon: 'social-mail',
          },
          {
            href: 'https://telegram.me/+79062723744',
            name: 'telegram',
            icon: 'social-tg',
          },
        ]
      })

  .header__bottom
    .container
      +main-logo(true)

      +nav({
        links: [
          {
            href: 'services.html',
            text: 'Услуги'
          },
          {
            href: 'cases.html',
            text: 'Кейсы'
          },
          {
            href: 'brief.html',
            text: 'Бриф'
          },
          {
            href: 'faq.html',
            text: 'FAQ'
          }
        ]
      })

      //- +main-btn({
      //-   icon: 'search',
      //-   modal: 'search'
      //- })

      +main-btn({
        class: 'header__callback-btn main-btn--outlined',
        text: 'Заказать звонок',
        modal: 'callback'
      })

      +main-btn({
        text: 'Меню',
        class: 'nav-opener'
      })


