include ../nav/nav
include ../main-btn/main-btn
include ../links/main-link
include ../social/social
include ../logos/main-logo/main-logo

header.header
  .header__top
    .container
      include ../company/contacts/company-worktime
      +main-logo(true)

      +social({
        list: [
          {
            href: 'tel:+79062723744',
            name: 'Телефон',
            icon: 'social-phone',
          },
          {
            href: 'mailto:info@littleweb.ru',
            name: 'mail',
            icon: 'social-mail',
          },
          {
            href: 'https://telegram.me/+79062723744',
            name: 'telegram',
            icon: 'social-tg',
          },
        ]
      })

      +main-btn({
        class: 'header__callback-btn main-btn--outlined',
        text: 'Заказать звонок',
        modal: 'callback'
      })

  .header__bottom
    .container
      +main-logo(true)

      +nav({
        links: [
          {
            href: 'company.html',
            text: 'О компании',
            inner: [
            {  href: 'company.html',
              text: 'Разработка сайтов О компании!!!!!', }
            ]
          },
          {
            href: 'services-detail.html',
            text: 'Разработка',
            inner: [
            {  href: 'services-detail-item.html',
              text: 'Сайт визитка', },
            {  href: 'services-detail-item.html',
              text: 'Лендинг', },
            {  href: 'services-detail-item.html',
              text: 'Корпоративный сайт', }
            ]
          },
          {
            href: 'services-detail.html',
            text: 'WEB-дизайн'
          },
          {
            href: 'services-detail.html',
            text: 'Продвижение'
          },
          {
            href: 'faq.html',
            text: 'Задать вопрос'
          },
          {
            href: 'contacts.html',
            text: 'Контакты'
          },
        ]
      })

      //- +main-btn({
      //-   icon: 'search',
      //-   modal: 'search'
      //- })

      +main-btn({
        text: 'Меню',
        class: 'nav-opener'
      })


