$main-btn-color: var(--light);
$main-btn-bg: var(--primary);
$main-btn-box-shadow: none;
$main-btn-border-radius: 30px;
$main-btn-font-size: 12px;
$main-btn-border: 2px solid;
$main-btn-border-color: transparent;

// btn-outlined
$main-btn-outined-color: var(--primary);
$main-btn-outlined-bg: transparent;
$main-btn-outlined-border-color: var(--primary);

.main-btn {
  @extend %btn-reset;
  @extend %flex-centered-content;

  width: fit-content;
  min-height: 40px;
  padding: 10px 20px;
  font-size: $main-btn-font-size;
  background: $main-btn-bg;
  box-shadow: $main-btn-box-shadow;
  border: $main-btn-border;
  border-color: $main-btn-border-color;
  border-radius: $main-btn-border-radius;
  color: $main-btn-color;

  &--outlined {
    color: $main-btn-outined-color;
    background: none;
    background-color: $main-btn-outlined-bg;
    border-color: $main-btn-outlined-border-color;
  }

  @include media-up($mobile-width) {
    font-size: 14px;
  }
}
