.breadcrumbs {
  padding-block: clamp(20px, 3vw, 30px);

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    a,
    span {
      color: #aaaaaa;
    }

    span {
      &:last-child {
        color: var(--primary);
      }
    }
  }
}
