-
  const aboutSliderList = [
    {
      title: 'Сайт-визитка',
      text: 'Небольшой сайт, являющийся Вашей визитной карточкой в сети интернет. Немного информации, фотогалерея, контакты и форма обратной связи.',
      link: 'services-detail-item.html',
      price: 'от 20 000 руб',
      linkText: 'Подробнее'
    },

    {
      title: 'Лендинг',
      text: 'Одностраничный сайт описывающий Вашу деятельность или услугу. Больше фото, много информации о компании, разделы с товарами и услугами, формы обратной связи.',
      link: 'services-detail-item.html',
      price: 'от 30 000 руб',
      linkText: 'Подробнее'
    },

    {
      title: 'Корпоративный сайт',
      text: 'Многостраничный сайт с возможностью заказа товара или услуги через форму обратной связи. Подойдет компаниям, которым нужен сайт, описывающий их сферу деятельности, с полноценными разделами и большим количеством информации.',
      note: '*Не является интернет-магазином.',
      link: 'services-detail-item.html',
      price: 'от 120 000 руб',
      linkText: 'Подробнее'
    },

    {
      title: 'Интернет-магазин',
      text: 'Все то, что должно быть в современном интернет-магазине и то, к чему привыкли пользователи. Корзина, сравнение, отложенные товары, личный кабинет, все необходимые для Вашего бизнеса интеграции.',
      price: 'от 220 000 руб',
      link: 'services-detail-item.html',
      linkText: 'Подробнее'
    },

    {
      title: 'SPA и WEB-приложения',
      text: 'Много интерактива, программного кода и взаимодействия с пользователем ? Тогда Вам отлично подойдет разработка Web-приложения! Разрабатываем с помощью современных фреймворком, таких как Vue и React.',
      link: 'services-detail-item.html',
      linkText: 'Подробнее'
    },

    {
      title: 'СЕО-оптимизация сайта',
      text: 'Выводим Ваш сайт в топ выдачи Яндекс и Google. Проведем комплексную оптимизацию, увеличим видимость, повысим трафик. Как итог — сайт поднимется в выдаче поисковых систем и привлечет больше целевых посетителей.',
      note: '*Подойдет для многостраничных сайтов.',
      link: 'services-detail-item.html',
      linkText: 'Подробнее',
      price: 'от 40 000 руб'
    }
  ]

