-
  const aboutList = [
    {
      title: 'Сайт-визитка',
      text: 'Небольшой сайт, являющийся Вашей визитной карточкой в сети интернет. Немного информации, фотогалерея, контакты и форма обратной связи.',
    },

    {
      title: 'Лендинг',
      text: 'Одностраничный сайт описывающий Вашу деятельность или услугу. Больше фото, много информации о компании, разделы с товарами и услугами, формы заказа и обратной связи.',
    },

    {
      title: 'Корпоративный сайт',
      text: 'Многостраничный сайт с возможностью заказа товара или услуги через форму заказа. Подойдет компаниям, которым нужен полноценный сайт, с самостоятельными разделами.',
      note: '*Не является интернет-магазином.'
    },

    {
      title: 'Интернет-магазин',
      text: 'Многостраничный сайт с возможностью покупки товара. Корзина, сравнение и отложенные товары, личный кабинет.Все то, что должно быть в современном интернет-магазине и к чему привыкли пользователи.',
    },

    {
      title: 'SPA и WEB-приложения',
      text: 'Много интерактива, программного кода и взаимодействия с пользователем ? Тогда Вам отлично подойдет разработка Web-приожения! Разрабатываем с помощью современных фреймворком, таких как Vue и React.',
    },

    {
      title: 'СЕО-оптимизация сайта',
      text: 'Выводим Ваш сайт в топ выдачи Яндекс и Google. Настраиваем контекстную рекламу. Трафик растет - заказов становится больше.',
      note: '*Подойдет для многостраничных сайтов.'
    },

    {
      title: 'Аутсорс',
      text: 'У вас есть проект в разработке, но не хватает рук ? Мы готовы оперативно подключиться и взять на себя часть задач.',
    },

    {
      title: 'Техническая поддержка',
      text: 'У вас уже есть сайт, но не кому поддерживать его в хорошем состоянии или он просто устарел и Вы хотели бы его обновить ? Отдайте его нам ! Мы сделаем аудит, определим слабые места, составим список и план работ.',
    },


  ]
