-
  const aboutList = [
    {
      title: 'Сайт-визитка',
      text: 'Небольшой сайт, являющийся Вашей визитной карточкой в сети интернет. Немного информации, фотогалерея, контакты и форма обратной связи.',
      link: '#',
      linkText: 'Подробнее'
    },

    {
      title: 'Лендинг',
      text: 'Одностраничный сайт описывающий Вашу деятельность или услугу. Больше фото, много информации о компании, разделы с товарами и услугами, формы заказа и обратной связи.',
      link: '#',
      linkText: 'Подробнее'
    },

    {
      title: 'Корпоративный сайт',
      text: 'Многостраничный сайт с возможностью заказа товара или услуги через форму заказа. Подойдет компаниям, которым нужен полноценный сайт, с самостоятельными разделами. <br><small>*Не является интернет-магазином.</small>',
      link: '#',
      linkText: 'Подробнее'
    },

    {
      title: 'Интернет-магазин',
      text: 'Многостраничный сайт с возможностью покупки товара. Корзина, сравнение и отложенные товары, личный кабинет.Все то, что должно быть в современном интернет-магазине и к чему привыкли пользователи.',
      link: '#',
      linkText: 'Подробнее'
    },

    {
      title: 'SPA и WEB-приложения',
      text: 'Много интерактива, программного кода и взаимодействия с пользователем ? Тогда Вам отлично подойдет разработка Web-приожения! Разрабатываем с помощью современных фреймворком, таких как Vue и React.',
      link: '#',
      linkText: 'Подробнее'
    },

    {
      title: 'СЕО-оптимизация сайта',
      text: 'Выводим Ваш сайт в топ выдачи Яндекс и Google. Трафик растет - заказов становится больше. <br><small>*Подойдет для многостраничных сайтов.</small>',
      link: '#',
      linkText: 'Подробнее'
    },

    {
      title: 'Контекстная реклама',
      text: 'Настраиваем, запускаем и вносим корректировки в процессе. <br><small>*Подходит для всех видов сайтов.</small>',
      link: '#',
      linkText: 'Подробнее'
    },

    {
      title: 'Техническая поддержка',
      text: 'У вас уже есть сайт, но не кому поддерживать его в хорошем состоянии или он просто устарел и Вы хотели бы его обновить ? Отдайте его нам ! Мы сделаем аудит, определим слабые места, составим список и план работ.',
      link: '#',
      linkText: 'Подробнее'
    },

    {
      title: 'Аутсорс',
      text: 'У вас есть проект в разработке, но не хватает рук ? Мы готовы оперативно подключиться и взять на себя часть задач.',
      link: '#',
      linkText: 'Подробнее'
    },

    {
      text: 'Также мы можем добавить анимации любой сложности, сделать полный аудит сайта, интегрирровать необходимые Вашему бизнесу решения, исправить проблемы на Вашем текущем сайте.',
    }
  ]
