-
  const featureList = [
    {
      icon: 'feature-1',
      title: 'Быстро запускаем проекты в работу',
      modifier: 'vertical',
      text: 'Оперативно оценим проект, в короткие сроки заключим договор, подберем команду исполнителей и запустим проект в работу.'
    },

    {
      icon: 'feature-2',
      title: 'Индивидуальный подход к каждому',
      modifier: 'vertical',
      text: 'Погружаемся в процессы, обсуждаем все нюансы и согласовываем план действий, направленный на специфику Вашей деятельности.',
    },

    {
      icon: 'feature-3',
      title: 'Делаем весь процесс прозрачным и понятным',
      modifier: 'vertical',
      text: 'Рассказываем обо всех нюансах и сложностях понятным языком.',
    },

    {
      icon: 'feature-4',
      title: 'Справедливая рыночная цена',
      modifier: 'vertical',
      text: 'Обеспечим достойное качество, которое соответсвует реальной стоимости услуг и является разумным для клиентов.',
    },
  ]
