-
  const portfolioList = [
    {
      title: 'Агенство недвижимости JoyWork',
      text: 'Сотрудничаем с агенством недвижимости, реализуем различные задачи от верстки до интеграции необходимых модулей в CRM-систему.',
      img: {
        alt: 'joywork.ru',
        name: 'case.png'
      }
    },

    {
      title: 'Агенство недвижимости JoyWork',
      text: 'Сотрудничаем с агенством недвижимости, реализуем различные задачи от верстки до интеграции необходимых модулей в CRM-систему.',
      img: {
        alt: 'joywork.ru',
        name: 'case.png'
      }
    },

    {
      title: 'Агенство недвижимости JoyWork',
      text: 'Сотрудничаем с агенством недвижимости, реализуем различные задачи от верстки до интеграции необходимых модулей в CRM-систему.',
      img: {
        alt: 'joywork.ru',
        name: 'case.png'
      }
    },

    {
      title: 'Агенство недвижимости JoyWork',
      text: 'Сотрудничаем с агенством недвижимости, реализуем различные задачи от верстки до интеграции необходимых модулей в CRM-систему.',
      img: {
        alt: 'joywork.ru',
        name: 'case.png'
      }
    },
  ]
