-
  const reviewList = [
    {
      text: '‟Во-первых, я хотел бы отметить их профессионализм. Команда агентства дизайнеров обладает глубокими знаниями в области дизайна и пониманием того, как создать эстетически”',
      user: {
        name: 'Константин Константинов',
        desc: 'Генеральный директор группы компаний Компания'
      }
    },

    {
      text: '‟Мало текста”',
      user: {
        name: 'Константин Константинов',
        desc: 'Генеральный директор группы компаний Компания'
      }
    },

    {
      text: '‟Во-первых, я хотел бы отметить их профессионализм. Команда агентства дизайнеров обладает глубокими знаниями в области дизайна и пониманием того, как создать эстетически Во-первых, я хотел бы отметить их профессионализм. Команда агентства дизайнеров обладает глубокими знаниями в области дизайна и пониманием того, как создать эстетически Во-первых, я хотел бы отметить их профессионализм. Команда агентства дизайнеров обладает глубокими знаниями в области дизайна и пониманием того, как создать эстетически”',
      user: {
        name: 'Константин Константинов',
        desc: 'Генеральный директор группы компаний Компания'
      }
    },

    {
      text: '‟Во-первых, я хотел бы отметить их профессионализм. Команда агентства дизайнеров обладает глубокими знаниями в области дизайна и пониманием того, как создать эстетически”',
      user: {
        name: 'Константин Константинов',
        desc: 'Генеральный директор группы компаний Компания'
      }
    },

  ]
