-
  const reviewList = [
    {
      text: '‟С LittleWeb мы получили не просто сайт, а настоящий механизм успеха! Их команда полна страсти и преданности делу, каждая деталь сайта была проработана до совершенства. Они слушают ваши желания и превращают их в реальность! Благодарю за великолепную работу!”',
      user: {
        name: 'Анна Иванова',
        desc: 'Руководитель отдела маркетинга'
      }
    },

    {
      text: '‟Сотрудничество было чрезвычайно продуктивным. Ребята проявили высокий профессионализм и внимательное отношение к каждой детали проекта. Мы получили сайт, который соответствует всем нашим требованиям, а поддержка после запуска продолжает нас приятно удивлять.”',
      user: {
        name: 'Елена Козлова',
        desc: 'Руководитель отдела PR'
      }
    },

    {
      text: '‟LittleWeb — это профессиональный подход на каждом этапе сотрудничества. Они не только создали нам уникальный и функциональный сайт, но и предложили массу идей по его продвижению. Результаты превзошли наши ожидания! Рекомендую всем, кто ищет надежного партнера для онлайн-развития бизнеса.”',
      user: {
        name: 'Станислав Дмитриев',
        desc: 'Генеральный директор компаний JoyWork'
      }
    },

    {
      text: '‟В студию обратились по рекомендации и не пожалели. Специалисты внимательно выслушали наши требования, предложили оптимальные решения. Работа была выполнена в срок и с высоким качеством. Мы довольны результатом и будем рекомендовать эту команду своим партнерам”',
      user: {
        name: 'Алексей Никитин',
      }
    },

  ]
