-
  const serviceDetailList = [
    {
      icon: 'feature-1',
      title: 'Простота и экономия времени',
      text: 'Сайт-визитка предоставляет клиентам все необходимые контактные данные и информацию о ваших услугах, что упрощает процесс взаимодействия и повышает уровень обслуживания.',
    },

    {
      icon: 'feature-2',
      title: 'Повышение видимости и привлекательности бизнеса',
      text: 'Наличие сайта-визитки повышает уровень доверия к вашему бизнесу и делает вас более доступным для потенциальных клиентов. В условиях цифровой экономики клиенты всё чаще ищут информацию о компаниях онлайн.',
    },

    {
      icon: 'feature-3',
      title: 'Удобство для клиентов и улучшение взаимодействия',
      text: 'Сайт-визитка предоставляет клиентам все необходимые контактные данные и информацию о ваших услугах, что упрощает процесс взаимодействия и повышает уровень обслуживания.',
    },
  ]
