-
  const teamList = [
    {
      title: 'Имя фамилия',
      text: 'Веб-дизайнер',
      img: {
        alt: 'joywork.ru',
        name: 'men.png'
      }
    },

    {
      title: 'Имя фамилия',
      text: 'Веб-дизайнер',
      img: {
        alt: 'joywork.ru',
        name: 'woman.png'
      }
    },

    {
      title: 'Имя фамилия',
      text: 'Веб-дизайнер',
      img: {
        alt: 'joywork.ru',
        name: 'men.png'
      }
    },

    {
      title: 'Имя фамилия',
      text: 'Веб-дизайнер',
      img: {
        alt: 'joywork.ru',
        name: 'woman.png'
      }
    },
    {
      title: 'Имя фамилия',
      text: 'Веб-дизайнер',
      img: {
        alt: 'joywork.ru',
        name: 'woman.png'
      }
    },
    {
      title: 'Имя фамилия',
      text: 'Веб-дизайнер',
      img: {
        alt: 'joywork.ru',
        name: 'woman.png'
      }
    },
  ]
