-
  const toolsList = [
    {
      href: 'services-detail.html',
      icon: "figma",
      iconW: 60,
      iconH: 60
    },
    {
      href: 'services-detail.html',
      icon: "framer",
      iconW: 60,
      iconH: 60
    },
    {
      href: 'services-detail.html',
      icon: "js",
      iconW: 60,
      iconH: 60
    },
    {
      href: 'services-detail.html',
      icon: "ps",
      iconW: 60,
      iconH: 60
    },
  ]




