-
  const whatInPriceList = [
    {
      title: 'Разработка лендинга',
      content: `
        <ul>
          <li>
            Запуск лендинга на базе готового решения
          </li>
          <li>
            Оформление цветовой гаммы готового сайта в ваши фирменный цвета
          </li>
          <li>
            Редактирование блоков готового сайта, учитывая особенности вашего бизнеса
          </li>
          <li>
            Наполнение лендинга вашей информацией
          </li>
          <li>
            Подключение домена — регистрируем новый или подключаем ваш домен
          </li>
          <li>
            Регистрация в поисковых системах Yandex.ru и Google.com
          </li>
          <li>
            Установка счетчиков
          </li>
       </ul>
      `,
    },
    {
      title: 'Обслуживание сайта',
      content: `
        <ul>
          <li>
            Запуск лендинга на базе готового решения
          </li>
          <li>
            Оформление цветовой гаммы готового сайта в ваши фирменный цвета
          </li>
          <li>
            Редактирование блоков готового сайта, учитывая особенности вашего бизнеса
          </li>
          <li>
            Наполнение лендинга вашей информацией
          </li>
          <li>
            Подключение домена — регистрируем новый или подключаем ваш домен
          </li>
       </ul>
      `,
    },
  ]




