-
  const workflowList = [
    {
      icon: 'workflow-1',
      title: 'Предварительно оцениваем',
      text: 'Оцениваем проект вилкой, определяем сложность и предлагаем варианты реализации.'
    },

    {
      icon: 'workflow-2',
      title: 'Согласовываем нюансы',
      text: 'Внимательно изучаем проект, задаем вопросы, составляем план работ.',
    },

    {
      icon: 'workflow-3',
      title: 'Запускаем проект в работу',
      text: 'Договор согласован и подписан, поэтому мы начинаем работу. При необходимости создаём чат для оперативного общения между клиентом и командой разработки.',
    },

    {
      icon: 'workflow-4',
      title: 'Работаем над проектом',
      text: 'Работаем в согласованном процессе, показываем промежуточный результат, тестируем, задаём вопросы.',
    },

    {
      icon: 'workflow-5',
      title: 'Тестируем',
      text: 'Перед сдачей, делаем финальное тестирование и отдаём.',
    },
    {
      icon: 'workflow-6',
      title: 'Сопровождаем после сдачи',
      text: 'Остаёмся на связи по проекту до запуска и даём гарантию на 60 дней после.',
    },
  ]




