$mobile-view-width: 1024px;

.nav {
  &__header {
    @extend %flex-align;
    position: relative;
    gap: 24px;

    @include media-up($mobile-view-width) {
      display: none;
    }
  }

  &__list {
    @extend %list-reset;
    @extend %flex-wrap;

    gap: 14px;
    width: fit-content;
    margin: 0 auto;
  }

  &__list-item {
    position: relative;
    & > a {
      @extend %flex-centered-content;
    }

    a {
      font-size: var(--fs-s);
      padding: var(--gap-xs);
      font-family: var(--primary-font);

      &.current {
        color: var(--primary);
      }
    }

    ul {
      list-style: square;
      padding: 12px;
      padding-left: 32px;
      margin: 0;
    }

    @include media-up($mobile-view-width) {
      ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: fit-content;
        min-width: 260px;
        background-color: var(--site-bg-color);
        box-shadow: 10px 20px 10px rgba(100, 94, 112, 0.3);
        // border: 1px solid var(--primary);
        border-radius: 6px;
        transform: translateY(16px);
        transition:
          opacity var(--base-transition),
          transform var(--base-transition),
          visibility var(--base-transition);

        li {
          a {
            display: flex;
            align-items: center;
            padding-left: 0;
          }
        }
      }
    }

    @media (hover: hover) {
      &:hover {
        ul {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    &:focus {
      ul {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  display: none;

  @include media-up($mobile-view-width) {
    display: flex;
    flex-grow: 1;
    margin: 0 var(--gap-m);

    &__wrapper {
      margin: 0 auto;
    }

    .company-worktime,
    .social {
      display: none;
    }
  }

  @include media-down($mobile-view-width) {
    &.mobile-active {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-height: 100dvh;
      background-color: rgb(0 0 0 / 90%);
      z-index: 10;
      animation: fade-in 0.2s linear;

      .company-worktime {
        flex-direction: column;
        margin-bottom: 30px;
      }

      .social {
        display: flex;
        justify-content: center;
        order: 3;
      }

      .header__callback-btn {
        display: block;
      }

      .company-worktime--alt {
        align-items: center;
      }
    }

    &__wrapper {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      // width: 90dvw;
      // height: fit-content;
      height: 100%;
      min-height: 100dvh;
      // max-width: 700px;
      background-color: var(--dark);
      overflow-y: auto;
      padding: var(--gap-s) clamp(24px, 5vw, 40px) clamp(24px, 5vw, 40px);
    }

    &__list {
      flex-flow: column nowrap;
      align-items: center;
      height: fit-content;
      width: 100%;
      // margin: auto 0;
      padding: clamp(24px, 5vw, 40px) 0;

      &-item a {
        position: relative;
        font-size: 16px;
        text-align: center;
        // justify-content: flex-start;
        // padding-left: 1.4em;

        // &::before {
        //   position: absolute;
        //   top: 50%;
        //   left: 0;
        //   transform: translateY(-50%);
        //   content: '';
        //   width: 1em;
        //   height: 0.15em;
        //   background-color: var(--white);
        // }

        &.current::before {
          background-color: var(--primary);
        }
      }
    }

    .nav-closer {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: calc(-1 * clamp(24px, 5vw, 40px));
      padding: 10px;
      background-color: var(--primary);
      width: 80px;
      border-radius: 20px 0px 0px 20px;

      svg {
        fill: var(--white);
      }
    }

    .social__list li a {
      width: clamp(32px, 8vw, 50px);
    }

    .company-worktime {
      padding-top: 30px;
    }
  }
}

.nav-opener {
  display: flex;
  padding-right: calc(var(--container-offset) + 20px);
  margin-right: calc(-1 * var(--container-offset));
  border-radius: 20px 0 0 20px;

  @include media-up($mobile-view-width) {
    display: none;
  }
}
