mixin nav(data)

  if data.links
    nav.nav(class= data.class ? data.class : null)
      .nav__wrapper
        .nav__header
          +main-logo(true)
          +main-btn({
            icon: 'close',
            iconW: 20,
            iconH: 20,
            class: 'nav-closer'
          })

        ul.nav__list
          each link in data.links
            li.nav__list-item
              a(href= link.href)!= link.text
              if link.inner
                ul
                  each inner in link.inner
                    li
                      a(href= inner.href)!= inner.text
        +main-btn({
          class: 'header__callback-mobile-btn main-btn--outlined',
          text: 'Заказать звонок',
          modal: 'callback'
        })             

        +social({
          list: [
            {
              href: 'tel:+79062723744',
              name: 'phone',
              icon: 'social-phone',
              iconW: 24,
              iconH: 24
            },
            {
              href: 'mailto:info@littleweb.ru',
              name: 'telegram',
              icon: 'social-mail',
              iconW: 24,
              iconH: 24
            },
            {
              href: 'https://telegram.me/+79062723744',
              name: 'telegram',
              icon: 'social-tg',
              iconW: 24,
              iconH: 24
            },
          ]
        })

        include ..//company/contacts/company-worktime
