section.base-section    
  .container
    h2.base-title <span>О</span> Компании
    p.main-text Клиника “Нисо” – это современный стоматологический центр, расположенный в сердце Санкт-Петербурга, предлагающий полный спектр услуг по уходу за зубами и деснами. Наша миссия – обеспечить высочайшее качество лечения и индивидуальный подход к каждому пациенту, создавая комфортную и дружелюбную атмосферу. Клиника “Нисо” – это ваш надежный партнер в заботе о здоровье зубов и красивой улыбке. Доверьтесь профессионалам и почувствуйте разницу в подходе и качестве обслуживания!