section.base-section.portfolio-single-works
  .container 
    h2.base-title <span>Проделанные</span> работы 
    .portfolio-single-works__grid
      .portfolio-single-works__grid-content
        p.main-text В рамках проекта по редизайну сайта стоматологической клиники “Нисо” были выполнены следующие работы:
        ol 
            li Изменение структуры и навигации сайта:
               p - Переработана структура меню для более интуитивного и удобного доступа к основным разделам.
               p - Внедрены новые фильтры и рубрики для облегчения поиска информации.
            li Актуализация контента:
                p - Проведена ревизия всех текстов на сайте, удалены устаревшие рубрики и разделы.
                p - Обновлены описания услуг, добавлены новые фотографии до и после лечения.
            li Оптимизация визуальной составляющей:
                p - Заменены старые изображения на более современные и качественные.
                p - Внедрены анимированные элементы для улучшения взаимодействия с пользователем и повышения конверсии.
            li Оптимизация функциональности:
                p - Проведена тщательная работа над HTML-кодом для улучшения юзабилити.
                p - Внедрены новые модули и улучшены существующие для повышения удобства использования сайта. 
            li Адаптивная верстка:
                p - Сайт адаптирован для корректного отображения на всех устройствах, включая мобильные гаджеты.
                p - Проведена проверка отображения на экранах с разрешением 600x800 пикселей и других стандартных размерах.
      .portfolio-single-works__grid-img  
           img(src=`./assets/images/mock/section_img.png` alt= "section_img" width="500" height="580")   