section.base-section
  .container 
    h2.base-title <span>Задачи</span> Проекта 
    p.main-text В рамках проекта по редизайну сайта стоматологической клиники “Нисо” в Санкт-Петербурге были поставлены следующие задачи:
    ol 
      li Увеличение количества текста, описывающего предлагаемые услуги.
      li Добавление и улучшение визуальных материалов:
          p Увеличение количества фотографий, иллюстрирующих процесс лечения и состояние до/после.
          p Уменьшение размера фотографий для ускорения загрузки страниц.
      li Оптимизация навигации:
          p Редизайн системы навигации для облегчения перехода между страницами сайта.
          p Обеспечение доступа к ключевым разделам не более чем за четыре-пять кликов.
      li Редизайн цветовой палитры сайта:
          p Обновление дизайна в соответствии с фирменным стилем и современными тенденциями.
      li Обеспечение корректного отображения сайта в разных браузерах:  
          p Адаптация программного кода для устранения искажений дизайна.  
    p.main-text Эти задачи направлены на улучшение пользовательского опыта, повышение информативности сайта и усиление позиций клиники “Нисо” на рынке стоматологических услуг.