
block variables
  - sectionClass = ""

block content
  include ./portfolio-redesign-hero 
  include ./portfolio-redesign-about
  include ./portfolio-redesign-tasks
  include ./portfolio-redesign-works
  include ./portfolio-redesign-tools
  include ./portfolio-redesign-view
  