include ../../../components/links/main-link
include ../../../content/tools-list

section.base-section   
  .container
        h2.base-title <span>Дизайн и верстка</span> сайта
        p.main-text Сайт стоматологической клиники “Нисо” был разработан с использованием современных инструментов и технологий, чтобы обеспечить пациентам удобный и информативный ресурс. Весь процесс создания сайта можно разделить на несколько ключевых этапов, начиная с дизайна и заканчивая финальной версткой и программированием.

        p.main-text Первоначально дизайн сайта был создан в программе Figma, которая позволяет дизайнерам и разработчикам совместно работать над проектом. После утверждения всех макетов в Figma, проект был передан разработчику для дальнейшей работы. 

        p.main-text Для этого использовались специальные инструменты экспорта, которые позволяют сохранить все слои и компоненты дизайна в формате, совместимом с программами для разработки.

        p.main-text Разработчик использовал программу Visual Studio Code для работы с кодом и верстки сайта. Visual Studio Code предоставляет удобный интерфейс и множество расширений, которые помогают в написании и отладке кода.          
        ul.tools__list
            each tool in toolsList
              li.tools__list-item
                +main-link(tool)
