section.base-section.portfolio-single-view
  .container 
    h2.base-title <span>Просмотр</span> проекта 
    p.main-text Для просмотра проекта используйте интерактивную панораму, чтобы детально изучить каждый уголок сайта.
    .portfolio-single-view__grid
      .portfolio-single-view__grid-item  
        .portfolio-single-view__grid-item-img  
          img(src=`./assets/images/view.png` alt= "section_img" width="500" height="580")  
          .portfolio-single-view__grid-item-btn 
            img(src=`./assets/images/click.svg` alt= "click_img" width="40" height="40") 
            p Кликните для просмотра проекта на десктопной версии
      .portfolio-single-view__grid-item  
        .portfolio-single-view__grid-item-img  
          img(src=`./assets/images/view.png` alt= "section_img" width="500" height="580")  
          .portfolio-single-view__grid-item-btn 
              img(src=`./assets/images/click.svg` alt= "click_img" width="40" height="40") 
              p Кликните для просмотра проекта на мобильной версии