section.page-top-section.content-page
  .container

    div.base-title-block
      h1.main-title.text-uppercase Заголовок 
        span H1
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium cum dicta libero quaerat labore aliquid, consequuntur magni? Dolor recusandae, maiores tempora repellendus explicabo velit rem, fugit officiis perspiciatis modi quod.

    div.base-title-block
      h2.main-title.text-uppercase Заголовок 
        span H2
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium cum dicta libero quaerat labore aliquid, consequuntur magni? Dolor recusandae, maiores tempora repellendus explicabo velit rem, fugit officiis perspiciatis modi quod.
    
    div.base-title-block
      h3.main-title.text-uppercase Заголовок 
        span H3
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium cum dicta libero quaerat labore aliquid, consequuntur magni? Dolor recusandae, maiores tempora repellendus explicabo velit rem, fugit officiis perspiciatis modi quod.

    div.base-title-block
      h4.main-title.text-uppercase Заголовок 
        span H4
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium cum dicta libero quaerat labore aliquid, consequuntur magni? Dolor recusandae, maiores tempora repellendus explicabo velit rem, fugit officiis perspiciatis modi quod.

    div.base-title-block
      h5.main-title.text-uppercase Заголовок 
        span H5 - заголовок в карточках
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium cum dicta libero quaerat labore aliquid, consequuntur magni? Dolor recusandae, maiores tempora repellendus explicabo velit rem, fugit officiis perspiciatis modi quod.

    div.base-title-block
      h6.main-title.text-uppercase Заголовок 
        span H6
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium cum dicta libero quaerat labore aliquid, consequuntur magni? Dolor recusandae, maiores tempora repellendus explicabo velit rem, fugit officiis perspiciatis modi quod.

    p Текст - основной текст

    p
      small Мелкий текст цветной

    div.list-block 
      span Нумерованный список

      ul
        li Lorem ipsum dolor sit amet
        li Consectetur adipiscing elit
        li Integer molestie lorem at massa
        li Facilisis in pretium nisl aliquet
        li Faucibus porta lacus fringilla vel
        li Aenean sit amet erat nunc
        li Eget porttitor lorem

    div.list-block 
      span Линейный список

      ol
        li Lorem ipsum dolor sit amet
        li Consectetur adipiscing elit
        li Integer molestie lorem at massa
        li Facilisis in pretium nisl aliquet
        li Faucibus porta lacus fringilla vel
        li Aenean sit amet erat nunc
        li Eget porttitor lorem