section.page-top-section
  .container

    div.base-title-block
      h1.main-title.text-uppercase Заголовок 
        span H1
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium cum dicta libero quaerat labore aliquid, consequuntur magni? Dolor recusandae, maiores tempora repellendus explicabo velit rem, fugit officiis perspiciatis modi quod.

    div.base-title-block
      h2.main-title.text-uppercase Заголовок 
        span H2
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium cum dicta libero quaerat labore aliquid, consequuntur magni? Dolor recusandae, maiores tempora repellendus explicabo velit rem, fugit officiis perspiciatis modi quod.
    
    div.base-title-block
      h3.main-title.text-uppercase Заголовок 
        span H3
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium cum dicta libero quaerat labore aliquid, consequuntur magni? Dolor recusandae, maiores tempora repellendus explicabo velit rem, fugit officiis perspiciatis modi quod.

    p Текст - основной текст

    small Мелкий текст цветной

    ul
      li Lorem ipsum dolor sit amet
      li Consectetur adipiscing elit
      li Integer molestie lorem at massa
      li Facilisis in pretium nisl aliquet
      li Faucibus porta lacus fringilla vel
      li Aenean sit amet erat nunc
      li Eget porttitor lorem

    ol
      li Lorem ipsum dolor sit amet
      li Consectetur adipiscing elit
      li Integer molestie lorem at massa
      li Facilisis in pretium nisl aliquet
      li Faucibus porta lacus fringilla vel
      li Aenean sit amet erat nunc
      li Eget porttitor lorem

    blockquote "Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim mauris id. Non pellentesque congue eget consectetur turpis. Sapien, dictum molestie sem tempor. Diam elit, orci, tincidunt aenean tempus."

    div.table-overlay.table-base
      table 
        thead 
          tr 
            td Name
            td Company
            td Number
            td Team
            td Date
        tbody 
          tr 
          td Full name
          td Company name
          td 14
          td Team name
          td
            span Jan 11, 2050