.main-logo {
  @extend %flex-column;

  justify-content: center;
  gap: 2px;
  width: 150px;
  height: auto;
  min-height: 40px;

  @include media-up($mobile-width) {
    width: 205px;
  }

  @include media-up($laptop-width) {
    width: 225px;
  }

  @include media-up($desktop-width) {
    width: 275px;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  span {
    display: none;
    white-space: nowrap;
    padding-left: 4px;
    font-family: var(--secondary-font);
    font-size: var(--fs-xxs);
    font-weight: var(--fw-xl);
    letter-spacing: 0.05em;
    color: var(--secondary);
    opacity: 0.6;

    @include media-up($mobile-width) {
      display: inline-block;
    }

    @include media-up($laptop-width) {
      font-size: var(--fs-xs);
    }
  }
}
