mixin social(data)
  .social
    ul.social__list
      each social in data.list
        li
          a(href= social.href rel="noopener nofollow norefferer" target="_blank")
            if social.icon
              svg(width="34" height="34")
                use(xlink:href=`./assets/svg-sprite.svg#icon-${social.icon}`)

