*,
*::before,
*::after {
  box-sizing: inherit;
  border-radius: 0;

  @extend %scrollbar;

  text-wrap: balance;
}

html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  // font-family: var(--primary-font);
  font-family: var(--secondary-font);
  font-weight: var(--fw-r);
  line-height: 1.5;
  letter-spacing: 0.1em;
  overflow-x: hidden !important;
  background-color: var(--site-bg-color);
  color: var(--site-text-color);

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: -1;
  //   background-image: url('../assets/images/bg.svg');
  // }

  &.body-locked {
    overflow: hidden;
  }
}

footer {
  margin-top: auto;
}

img {
  height: auto;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--site-text-color);
}

a[href='tel:*'] {
  white-space: nowrap;
}

a,
button {
  @extend %hover-opacity;

  cursor: pointer;
}

address {
  font-style: normal;
}

picture {
  display: flex;
}

.table {
  &-overlay {
    overflow-x: scroll;
  }

  &-base {
    thead {
      td {
        color: var(--primary);
      }
    }

    td {
      padding: 30px 24px;
      border: 2px solid #fffce1;
    }
  }
}

table {
  border-collapse: collapse;
  font-family: var(--secondary-font);
}

.hidden {
  display: none !important;
}

.hidden-laptop-down {
  @include media-down($laptop-width) {
    display: none;
  }
}

.hidden-laptop-up {
  @include media-up($laptop-width) {
    display: none;
  }
}

.page-top-section {
  padding-bottom: clamp(40px, 8vw, 80px);
}

.btn-row {
  @extend %flex-wrap;
  gap: 20px;
  max-width: 600px;
  padding: clamp(20px, 4vw, 40px) 0;

  // .main-btn {
  //   flex-grow: 1;
  // }
}

.base-title-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: clamp(var(--gap-m), 2vw, var(--gap-xxl));

  :is(h1, h2, h3, h4, h5, h6, p) {
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    :is(h1, h2, h3, h4, h5, h6, p) {
      line-height: 1.2;
    }
  }
}
.lw-separator {
  position: relative;
  margin-bottom: 25px;

  &::after {
    content: '';
    position: absolute;
    max-width: 320px;
    height: 25px;
    background-image: url('./images/separator.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -25px;

    @media screen and (max-width: 768px) {
      max-width: 220px;
      height: 20px;
    }
  }

  // img {
  //   max-width: 320px;
  //   margin: 0 auto;

  //   @media screen and (max-width: 768px) {
  //     max-width: 270px;
  //   }
  // }
}
