mixin main-input(data)
  input(type= data.type id= data.id ? data.id : '' name= data.label data-type= data.dataType ? data.dataType : null placeholder= data.label data-required= data.required ? "true" : null)
