extends layouts/main-layout.pug

block variables
  -
    const title = "littleweb.ru"
    const description = "Разработка и продвижение сайтов"
    const keywords = ""

block content
  include ./sections/content/content
