extends layouts/main-layout.pug

block variables
  -
    const title = "littleweb.ru"
    const description = "Разработка и продвижение сайтов"
    const keywords = ""
    //- Дополнительные файлы стили для КОНКРЕТНОЙ страницы
    //- const styleFileNames = ['inner']

block content
  include ./sections/contacts/contacts
  include ./sections/index-page/offer

block modals
  //- Модальные окна используемые ТОЛЬКО на этой странице
  //-
