extends layouts/main-layout.pug

block variables
  -
    const title = "littleweb.ru"
    const description = "Разработка и продвижение сайтов"
    const keywords = ""
    //- Дополнительные файлы стили для КОНКРЕТНОЙ страницы
    //- const styleFileNames = ['inner']

block content
  include ./sections/index-page/hero
  include ./sections/index-page/about
  include ./sections/index-page/about-slider
  include ./sections/index-page/team-slider
  include ./sections/index-page/features
  include ./sections/index-page/workflow
  include ./sections/index-page/questions
  include ./sections/index-page/reviews
  include ./sections/index-page/portfolio
  include ./sections/index-page/offer

block modals
  //- Модальные окна используемые ТОЛЬКО на этой странице
