extends layouts/main-layout.pug

block variables
  -
    const title = "littleweb.ru"
    const description = "Разработка и продвижение сайтов"
    const keywords = ""
    //- Дополнительные файлы стили для КОНКРЕТНОЙ страницы
    //- const styleFileNames = ['inner']

block content
  include ./sections/services/services-detail
  include ./sections/index-page/features
  include ./sections/index-page/workflow
  include ./sections/index-page/questions
  include ./sections/services/seo-section
  include ./sections/index-page/offer
  include ./sections/index-page/portfolio

block modals
  //- Модальные окна используемые ТОЛЬКО на этой странице
  //-
