.base-section {
  padding: clamp(40px, 6vw, 70px) 0;

  &__container {
    &--flex-column-center {
      @extend %flex-column;
      align-items: center;
    }
  }

  &__btn {
    margin-top: var(--gap-xl);
  }

  .main-btn {
    grid-column: 1/2;
    max-height: 40px;
    // margin-top: 0;

    @include media-down($desktop-width) {
      grid-column: auto;
      order: 3;
      margin-top: var(--gap-m);
    }
  }

  .accordeon {
    grid-column: 2/3;
    grid-row: 1/2;

    @include media-down($desktop-width) {
      grid-column: auto;
      grid-row: auto;
      order: 2;
    }
  }

  ol {
    li {
      font-weight: 700;
      font-size: 18px;
      color: var(--site-text-color);
      margin-bottom: 20px;
      ul {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 20px;
        li {
          list-style: disc;
          font-family: var(--secondary-font);
          line-height: 1.5;
          color: var(--main-text-color);
          font-weight: 400;
          font-size: 16px;
          margin-bottom: 0;
        }
      }
    }
  }
}
