block variables
  - sectionClass = ''
  - sectionTitle = ''
  - sectionText  = ''

section.base-section(class= sectionClass)
  .container
    if sectionTitle
      h2.base-title!= sectionTitle
    if sectionText
      h2.base-text!= sectionText
    block content
