block variables
  - sectionClass = ''
  - containerClass = ''
  - sectionTitle = ''
  - sectionText  = ''

section.base-section(class= sectionClass)
  .container(class= containerClass)
    if sectionTitle
      h2.base-title!= sectionTitle
    if sectionText
      span.base-text!= sectionText
    block content
