extends ../../layouts/base-section/base-section.pug

block variables
  - sectionTitle = 'Давайте работать над вашим <span>проектом вместе!</span>'
  - useGrid = false

block content
  p.base-text Оставьте заявку и мы свяжемся с Вами в ближайшее время !
  include ../../components/forms/callback-form/callback-form

  +callback-form({
    submitBtnText: 'Отправить',
    formName: 'Оставить заявку',
    rows: [
      [
        {
          type: 'text',
          id: 'offer_user_name',
          label: 'Имя:',
          required: true
        },

        {
          type: 'tel',
          id: 'offer_user_phone',
          label: 'Телефон:',
          dataType: 'phone',
          required: true
        }
      ]
    ]
  })

