.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 199;
  backdrop-filter: blur(3px);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90dvw;
  height: fit-content;
  max-width: 640px;
  max-height: 85dvh;
  overflow: hidden;
  overflow-y: auto;
  padding: 30px;
  padding-left: 0;

  &-content {
    background-color: var(--dark);
    padding: clamp(var(--gap-s), 3vw, var(--gap-xl));
    border-radius: 4px;
    border: 1px solid var(--primary);
  }

  &-closer {
    position: absolute;
    top: 10px;
    right: 10px;

    @extend %btn-reset;
    @extend %flex-centered-content;

    width: fit-content;
    height: fit-content;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--dark);
    border: 1px solid var(--primary);

    svg {
      fill: var(--primary);
    }

    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }

    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }

  &-title {
    display: inline-block;
    font-size: var(--fs-sm);
    font-weight: var(--fw-l);
    width: 100%;
    padding-right: 20px;
    color: var(--white);
    margin-bottom: var(--gap-l);
    text-wrap: initial;
  }

  &-text {
    font-size: 14px;
  }
}

.project-modal {
  max-width: 1100px;
  // height: 100vh;
  max-height: 100dvh;
  padding-left: 30px;

  .modal-closer {
    top: 0;
    right: 70px;
    z-index: 100;
  }

  .modal-content {
    width: fit-content;
    height: auto;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .tablet-image {
    position: relative;
    width: 100%;

    img {
      height: fit-content;
      max-width: fit-content;
      margin: 0 auto;
      display: block;
      position: relative;
      z-index: 1;
    }
  }

  .tablet-screen {
    position: absolute;
    top: 8%;
    left: 13%;
    width: 74%;
    height: 79%;
    overflow: hidden;
    overflow-y: auto;
    z-index: 2;
  }

  .tablet-screen::-webkit-scrollbar {
    display: none; /* Полностью скрывает скроллбар */
  }
}

.mobile-project-modal {
  max-width: 430px;
  height: 85vh;
  padding: 0;

  .modal-closer {
    top: 0;
    right: 0;
    z-index: 100;
  }

  .modal-content {
    width: fit-content;
    height: inherit;
    background-color: transparent;
    border: none;
  }

  .mobile-image {
    position: relative;
    // width: 85%;
    // margin: 0 auto;
    width: 100%;
    height: auto;

    img {
      height: 100%;
      // height: fit-content;
      // max-width: fit-content;
      // margin: 0 auto;
      display: block;
      position: relative;
      z-index: 1;
      object-fit: contain;
    }
  }

  .mobile-screen {
    position: absolute;
    top: 3.2%;
    left: 7%;
    width: 85%;
    height: 94%;
    overflow: hidden;
    overflow-y: auto;
    z-index: 2;
    border-radius: 41px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    // @include media-down($tablet-width) {
    //   border-radius: 34px;
    // }
  }
  // /* Скрываем скроллбар в WebKit-браузерах (Chrome, Edge, Safari) */
  .mobile-screen::-webkit-scrollbar {
    display: none; /* Полностью скрывает скроллбар */
  }
}
