extends ../layouts/modals/main-modal

block variables
  - modalId = "callback"

block modalContent
  span.modal-title Заполните форму и&nbsp;мы обязательно свяжемся с&nbsp;Вами

  include ../components/forms/callback-form/callback-form

  +callback-form({
    submitBtnText: 'Отправить',
    formName: 'Заказать звонок',
    rows: [
      [
        {
          type: 'text',
          id: 'callback_user_name',
          label: 'Имя:',
          required: true
        },

        {
          type: 'tel',
          id: 'callback_user_phone',
          label: 'Телефон:',
          dataType: 'phone',
          required: true
        }
      ]
    ]
  })
