extends ../layouts/modals/main-modal

block variables
  - modalId = "error-modal"
  - modalClasses = "error-modal"

block modalContent
  svg(width="20" height="20")
    use(xlink:href="./assets/svg-sprite.svg#icon-error")
  span.modal-title Ошибка !
  span.modal-text Перезагрузите страницу и попробуйте снова!
