extends ../layouts/modals/main-modal

block variables
  - modalId = "fag"
  - modalClasses = "fag-modal"

block modalContent
  span.modal-title Заполните форму и мы обязательно свяжемся с Вами

  include ../components/forms/callback-form/callback-form

  +callback-form({
    submitBtnText: 'Отправить',
    formName: 'Задать вопрос',
    rows: [
      [
        {
          type: 'text',
          id: 'fag_user_name',
          label: 'Имя:',
          required: true
        },

        {
          type: 'tel',
          id: 'fag_user_phone',
          label: 'Телефон:',
          dataType: 'phone',
          required: true
        },
      ]
    ],
    textarea: {
          name: "textarea",
          id: 'fag_user_message',
          label: 'Вопрос:',
          required: true
        }
  })
