extends ../layouts/modals/main-modal

block variables
  - modalId = "mobile-project-modal"
  - modalClasses = "mobile-project-modal"

block modalContent
   .mobile-image
      img(src=`./assets/images/mobile-bg-2.png` alt= "banner.png" width="1140" height="720")   
      .mobile-screen