extends ../layouts/modals/main-modal

block variables
  - modalId = "project-modal"
  - modalClasses = "project-modal"

block modalContent
  .tablet-image
    img(src=`./assets/images/mac-bg.png` alt= "banner.png" width="1140" height="720")   
    .tablet-screen