extends ../layouts/modals/main-modal

block variables
  - modalId = "review"
  - modalClasses = "review-modal"

block modalContent
  span.modal-title Заполните форму и мы обязательно свяжемся с Вами

  include ../components/forms/callback-form/callback-form

  +callback-form({
    submitBtnText: 'Отправить',
    formName: 'Оставить отзыв',
    rows: [
      [
        {
          type: 'text',
          id: 'review_user_name',
          label: 'Имя:',
          required: true
        },

        {
          type: 'tel',
          id: 'review_user_phone',
          label: 'Телефон:',
          dataType: 'phone',
          required: true
        },
      ]
    ],
    textarea: {
          id: 'review_user_message',
          label: 'Отзыв:',
          required: true
        }
  })
