extends ../layouts/modals/main-modal

block variables
  - modalId = "success-modal"
  - modalClasses = "success-modal"

block modalContent
  svg(width="20" height="20")
    use(xlink:href="./assets/svg-sprite.svg#icon-success")
  span.modal-title Спасибо! Вы успешно <span>отправили заявку</span>
  span.modal-text Мы свяжемся c вами в ближайшее время!
