$border: 2px solid;
$border-color: transparent;
$border-radius: 10px;

.info-card {
  @extend %flex-column;

  height: 100%;
  gap: var(--gap-l);
  padding: 0;
  border-radius: $border-radius;
  border: $border;
  border-color: $border-color;

  &__content {
    @extend %flex-column;

    gap: var(--gap-s);
    height: 100%;

    &-list {
      margin: 8px 0 0 0;

      ul {
        margin: 0;
        list-style: none;
        padding: 0;
      }

      ul li {
        position: relative;
        border: none;
        box-shadow: none;
        padding: 0;
        margin-bottom: 10px;
        text-wrap: auto;
        padding-left: 20px;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 6px;
          height: 6px;
          background-color: var(
            --primary
          ); /* синий маркер — можно подправить */
          border-radius: 50%;
        }
      }
    }
  }

  &-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  svg {
    fill: var(--primary);
    height: 100%;
    width: 100%;
    max-width: 50px;
    max-height: 50px;
    aspect-ratio: 1 / 1;
  }

  img {
    height: 50px;
    width: 50px;
    min-height: 50px;
    aspect-ratio: 1 / 1;
  }

  &-title {
    font-family: var(--primary-font);
    font-size: clamp(16px, 1.8vw, 18px);
  }

  &-text {
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: var(--fw-l);
    margin-bottom: auto;

    & + small {
      display: inline-block;
      font-family: var(--secondary-font);
      font-size: var(--fs-xs);
      padding-top: var(--gap-xs);
    }
  }

  &-bottom-link {
    color: var(--primary);
    font-family: var(--primary-font);
  }

  &--vertical {
    flex-direction: column;
  }

  &-price {
    border: 1px solid var(--primary);
    width: fit-content;
    padding: 10px calc(var(--gap-l) + 10px);
    border-radius: 0 20px 20px 0;
    background-color: var(--primary);
    color: var(--white);
    margin-left: calc(-1 * (var(--gap-l) + 10px));
    box-shadow: 2px 0px 10px rgba(145, 245, 245, 0.5);
    font-family: var(--primary-font);

    @include media-down($mobile-width) {
      padding: 10px calc(var(--gap-l) + var(--container-offset));
      padding-right: 20px;
      margin-left: calc(-1 * (var(--gap-l) + var(--container-offset)));
    }
  }
}
