$border: 1px solid;
$border-color: transparent;
$border-radius: 10px;

.info-card {
  @extend %flex-column;

  height: 100%;
  gap: var(--gap-l);
  padding: 0;
  border-radius: $border-radius;
  border: $border;
  border-color: $border-color;

  &__content {
    @extend %flex-column;

    gap: var(--gap-s);
    height: 100%;

    a {
      padding: var(--gap-s) 0;
      color: var(--primary);
    }
  }

  &-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  svg {
    fill: var(--primary);
  }

  &-title {
    font-family: var(--primary-font);
    font-size: var(--fs-md);
  }

  &-text {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: var(--fw-l);
    margin-top: auto;

    & + small {
      display: inline-block;
      font-family: var(--secondary-font);
      font-size: var(--fs-xs);
      margin-top: auto;
      padding-top: var(--gap-xs);
    }
  }

  &--vertical {
    flex-direction: column;
  }
}
