.nav {
  &__list {
    @extend %list-reset;
    @extend %flex-wrap;

    gap: 14px;
    width: fit-content;
    margin: 0 auto;
  }

  &__list-item {
    a {
      @extend %flex-centered-content;

      font-size: var(--fs-xs);
      padding: var(--gap-xs);

      &.current {
        color: var(--primary);
      }
    }
  }

  display: none;

  @include media-up($laptop-width) {
    display: flex;
    flex-grow: 1;
    margin: 0 var(--gap-m);

    &__wrapper {
      margin: 0 auto;
    }

    .nav-closer,
    .company-worktime,
    .social {
      display: none;
    }
  }

  @include media-down($laptop-width) {
    &.mobile-active {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-height: 100dvh;
      background-color: rgb(0 0 0 / 90%);
      z-index: 10;
    }

    &__wrapper {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      width: fit-content;
      height: 100%;
      min-height: 100dvh;
      min-width: 50dvw;
      background-color: var(--dark);
      overflow-y: auto;
      padding: 100px clamp(24px, 5vw, 40px) clamp(24px, 5vw, 40px);
    }

    &__list {
      flex-flow: column nowrap;
      height: fit-content;
      width: 100%;
      margin: auto 0;
      padding: clamp(24px, 5vw, 40px) 0;

      &-item a {
        position: relative;
        font-size: var(--fs-lg);
        justify-content: flex-start;
        padding-left: 1.4em;

        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          content: '';
          width: 1em;
          height: 0.15em;
          background-color: var(--white);
        }

        &.current::before {
          background-color: var(--primary);
        }
      }
    }

    .nav-closer {
      position: absolute;
      top: clamp(24px, 5vw, 40px);
      right: clamp(24px, 5vw, 40px);
      padding: 10px;

      svg {
        fill: var(--dark);
      }
    }

    .social__list li a {
      width: clamp(32px, 8vw, 50px);
    }

    .company-worktime {
      padding-top: 30px;
    }
  }
}

.nav-opener {
  display: flex;

  @include media-up($laptop-width) {
    display: none;
  }
}
