.offer {
  .container {
    @extend %flex-column;
    align-items: center;
  }

  .base-title {
    text-align: center;
  }

  .callback-form button[type='submit'] {
    margin: 1.5em auto;
    width: fit-content;
  }
}
