.questions {
  .accordeon {
    grid-column: auto;
    grid-row: auto;
    order: 1;
  }

  .container {
    display: grid;
    @extend .base-list--2cols;
    column-gap: 34px;
    row-gap: 20px;
  }

  .base-title {
    line-height: 1;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: 6fr 3fr;
    gap: 40px;
    align-items: center;
    margin-bottom: var(--gap-xxl);

    @include media-down($tablet-lg-width) {
      grid-template-columns: 1fr;
    }

    img {
      max-width: 620px;
      max-height: 360px;
      order: 2;

      @include media-down($tablet-lg-width) {
        display: none;
      }
    }
  }
}
