extends ../../layouts/base-section/base-section.pug
include ../../components/main-btn/main-btn

block variables
  - sectionClass = "about"
  - sectionTitle = 'Что мы делаем'

block content
  include ../../content/about-list
  include ../../components/cards/info-card/info-card

  ul.about__list
    each about in aboutList
      li
        +info-card(about)

  p.base-text А еще мы можем добавить анимации любой сложности, сделать полный аудит сайта, интегрирровать необходимые Вашему бизнесу решения, исправить технические проблемы на Вашем текущем сайте.

  +main-btn({
    class: 'main-btn--outlined base-section__btn',
    text: 'Оставить заявку',
    modal: 'callback'
  })
