extends ../../layouts/base-section/base-section.pug
include ../../components/main-btn/main-btn

block variables
  - sectionClass = "about"

block left
  h1.base-title Что мы делаем
  +main-btn({
    class: 'main-btn--outlined hidden-laptop-down',
    text: 'Связаться с нами',
    modal: 'callback'
  })

block right
  include ../../content/about-list
  include ../../components/cards/info-card/info-card

  ul.about__list
    each about in aboutList
      li
        +info-card(about)

  +main-btn({
    class: 'main-btn--outlined hidden-laptop-up',
    text: 'Связаться с нами',
    modal: 'callback'
  })
