extends ../../layouts/base-section/base-section.pug

block variables
  - sectionClass = "features"
  - sectionTitle = 'Наши <span>преимущества</span>'

block content
  include ../../content/feature-list
  include ../../components/cards/info-card/info-card

  ul.base-list
    each feature in featureList
      li
        +info-card(feature)
