include ../../components/main-btn/main-btn
include ../../components/links/main-link

section.hero
  .container
    h1.main-title Создание и продвижение интернет-сайтов

    p.main-text Ваш сайт - ваша визитная карточка в мире интернета! Доверьте его создание нам и захватите взгляды!

    .flex-row
      +main-btn({
        class: 'main-btn--outlined',
        text: 'Связаться с нами',
        modal: 'callback'
      })

      +main-link({
        href: 'brief.html',
        text: 'Заполнить бриф',
        class: 'main-btn'
      })
