extends ../../layouts/base-section/base-section.pug
include ../../components/dynamic/main-btn/main-btn

block variables
  - sectionClass = "questions"

block left
  h1.base-title Ответы на частые вопросы


  +main-btn({
    class: 'main-btn--outlined',
    text: 'Оставить отзыв',
    modal: 'callback'
  })

block right
  include ../../content/question-list
  include ../../components/dynamic/accordeons/main-accordeon/main-accordeon

  +main-accordeon(questionList)
