extends ../../layouts/base-section/base-section.pug
include ../../components/main-btn/main-btn

block variables
  - sectionClass = "questions lw-separator"
  - sectionTitle = 'Ответы на частые <span>вопросы</span>'

block content
  include ../../content/question-list
  include ../../components/accordeons/main-accordeon/main-accordeon

  +main-accordeon(questionList)
  //- .questions-wrapper
    +main-accordeon(questionList)
    //- img(src='./assets/images/fag_img.png' alt="fag_img" width="620" height="360")

  //- +main-btn({
  //-   class: 'main-btn--outlined base-section__btn',
  //-   text: 'Задать вопрос',
  //-   modal: 'fag'
  //- })

