extends ../../layouts/base-section/base-section.pug
include ../../components/main-btn/main-btn

block variables
  - sectionClass = "questions"
  - sectionTitle = 'Ответы на частые <span>вопросы</span>'

block content
  include ../../content/question-list
  include ../../components/accordeons/main-accordeon/main-accordeon

  +main-accordeon(questionList)

  +main-btn({
    class: 'main-btn--outlined base-section__btn',
    text: 'Задать вопрос',
    modal: 'callback'
  })

