extends ../../layouts/base-section/base-section.pug
include ../../components/main-btn/main-btn

block variables
  - sectionClass = "reviews"
  - sectionTitle = 'Отзывы наших <span>клиентов</span>'

block content
  include ../../content/review-list
  include ../../components/sliders/main-slider/main-slider

  +main-slider({
    cls: 'review-slider',
    options: {
      navigation: true,
      pagination: true
    },
    type: 'review',
    slides: reviewList
  })

  +main-btn({
    class: 'main-btn--outlined base-section__btn',
    text: 'Оставить отзыв',
    modal: 'reviews'
  })

  include ../../modals/review-modal

