extends ../../layouts/base-section/base-section.pug
include ../../components/main-btn/main-btn

block left
  h1.base-title Отзывы наших клиентов

  +main-btn({
    class: 'main-btn--outlined hidden-laptop-down',
    text: 'Оставить отзыв',
    modal: 'reviews'
  })

block right
  include ../../content/review-list
  include ../../components/sliders/main-slider/main-slider

  +main-slider({
    cls: 'review-slider',
    options: {
      navigation: true,
      pagination: true
    },
    type: 'review',
    slides: reviewList
  })

  +main-btn({
    class: 'main-btn--outlined hidden-laptop-up',
    text: 'Оставить отзыв',
    modal: 'reviews'
  })


