extends ../../layouts/base-section/base-section.pug
include ../../components/dynamic/main-btn/main-btn

block left
  h1.base-title Как происходит рабочий процесс

  +main-btn({
    class: 'main-btn--outlined',
    text: 'Связаться с нами',
    modal: 'callback'
  })

block right
  p test2
