extends ../../layouts/base-section/base-section.pug
include ../../components/dynamic/main-btn/main-btn

block variables
  - sectionClass = "workflow"

block left
  h1.base-title Как происходит рабочий процесс

  +main-btn({
    class: 'main-btn--outlined',
    text: 'Связаться с нами',
    modal: 'callback'
  })

block right
  include ../../content/workflow-list
  include ../../components/dynamic/cards/info-card/info-card

  ul.workflow__list
    each workflow in workflowList
      li
        +info-card(workflow)
