extends ../../layouts/base-section/base-section.pug
include ../../components/main-btn/main-btn

block variables
  - sectionClass = "workflow"
  - sectionTitle = 'Как происходит рабочий процесс'

block content
  include ../../content/workflow-list
  include ../../components/cards/info-card/info-card

  ul.workflow__list
    each workflow in workflowList
      li
        +info-card(workflow)

  +main-btn({
    class: 'main-btn--outlined base-section__btn',
    text: 'Связаться с нами',
    modal: 'callback'
  })
