include ../../cards/info-card/info-card

mixin about-slider(data)
  .swiper.about-slider(class= data.cls ? data.cls : null)
    .swiper-wrapper
      each slide in data.slides
        .swiper-slide
          if data.type === 'about'
            +info-card(slide)

    .swiper-controls
      if data.options.pagination
        .swiper-pagination

      if data.options.navigation
        .swiper-navigation
          .swiper-button-prev
            svg(width="16" height="16")
              use(xlink:href="./assets/svg-sprite.svg#icon-slider-prev-arrow")
          .swiper-button-next
            svg(width="16" height="16")
              use(xlink:href="./assets/svg-sprite.svg#icon-slider-next-arrow")



