.review-card {
  @extend %flex-column;

  gap: var(--gap-m);
  font-family: var(--secondary-font);
  width: 100%;
  height: 100%;
  border: 2px solid white;
  padding: var(--gap-m);

  @include media-up($desktop-width) {
    padding: var(--gap-l);
  }

  &__content {
    font-size: 14px;

    button {
      @extend %main-btn;

      font-size: 14px;
      font-weight: 300;
      padding: 0;
      margin-top: var(--base-gap);
      min-height: fit-content;
      background-color: transparent;
      color: var(--primary);
    }
  }

  &__ratings {
    @extend %flex-align;
    gap: var(--base-gap);
    margin-bottom: var(--fs-sm);

    &-item {
      width: 100%;
      height: 100%;
      max-width: 20px;
      max-height: 20px;
    }
  }

  &__header {
    @extend %flex-column;
    display: none;

    span {
      // font-style: italic;
      font-weight: var(--fw-l);
      font-size: 16px;

      // @include text-truncate(3);
    }

    .main-btn {
      padding: 0;
      border: 0;
      margin-top: 0 !important;
    }
  }

  &__footer {
    @extend %flex-column;

    gap: 5px;
    margin-top: auto;

    span {
      font-weight: var(--fw-r);
      font-size: 16px;
      color: var(--secondary);
      text-transform: uppercase;
    }

    small {
      font-weight: var(--fw-l);
      font-size: 14px;
      color: var(--primary);
    }
  }
}
