.callback-form {
  fieldset {
    @extend %fieldset-reset;

    max-width: 800px;
  }

  input[type='text'],
  input[type='email'],
  input[type='tel'] {
    width: initial;
    max-width: initial;
    flex-grow: 1;
  }

  button[type='submit'] {
    margin: 1.5em 0;
    width: 100%;

    // @include media-up($mobile-width) {
    //   width: calc(50% - 8px);
    //   // max-width: 220px;
    // }
  }

  small {
    display: inline-block;
    font-family: var(--secondary-font);
    font-size: var(--fs-xs);
    line-height: 1.1;
  }
}
