.footer {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: var(--fw-l);

  &__top {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-xxl);
    padding: var(--gap-l) 0;

    @include media-up($tablet-width) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-up(1319px) {
      grid-template-columns: minmax(280px, 20%) auto 300px;
      grid-gap: clamp(var(--gap-lg), 5vw, var(--gap-xxxl));
    }
  }

  &__side {
    @extend %flex-column;

    gap: var(--gap-xl);
  }

  &__nav {
    margin-left: calc(-1 * var(--gap-s));
    margin-right: calc(-1 * var(--gap-s));

    &-list {
      @extend %list-reset;
      @extend %flex-wrap;

      gap: var(--gap-xs);
      max-width: 500px;

      @include media-up($tablet-width) {
        margin: 0 auto;
      }

      li {
        width: 100%;

        @include media-up(1319px) {
          width: calc(50% - var(--gap-xs));
        }

        a {
          display: flex;
          font-size: 16px;
          padding: var(--gap-xs) var(--gap-s);
        }
      }
    }
  }

  &__contacts {
    @extend %flex-column;

    padding-top: 8px;
    gap: var(--gap-l);

    // @include media-up($laptop-lg-width) {
    //   margin-left: 0;
    // }

    .company-worktime {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--gap-s);
      font-size: 14px;

      @include media-up($tablet-lg-width) {
        font-size: 16px;
      }
    }
  }

  &__bottom {
    padding: var(--gap-l) 0;
    border-top: 1px solid var(--primary);
  }
}
