include ../logos/main-logo/main-logo
include ../nav/nav
include ../social/social

footer.footer
  .container
    .footer__top
      .footer__side
        +main-logo(false)
        include ../company/law-info/law
        +social({
          list: [
            {
              href: 'tel:+79062723744',
              name: 'Телефон',
              icon: 'social-phone',
            },
            {
              href: 'mailto:info@littleweb.ru',
              name: 'mail',
              icon: 'social-mail',
            },
            {
              href: 'https://telegram.me/+79062723744',
              name: 'telegram',
              icon: 'social-tg',
            },
          ]
        })


      .footer__nav
        ul.footer__nav-list
          li
            a(href="#") Услуги
          li
            a(href="#") Новости
          li
            a(href="#") Кейсы
          li
            a(href="#") Заполнить бриф
          li
            a(href="#") Задать вопрос

      .footer__contacts
        include ../company/contacts/company-worktime
        include ../company/contacts/company-phone
        include ../company/contacts/company-mail




    .footer__bottom
      span © 2024. Все права защищены





