.portfolio-card {
  @extend %flex-column;
  border: 2px solid white;
  padding: var(--gap-xl);
  box-shadow: 0 0 60px rgba(51, 51, 51, 0.85);
  gap: var(--gap-s);

  &__title {
    display: inline-block;
    font-family: var(--primary-font);
    font-size: var(--fs-md);
  }

  &__text {
    display: inline-block;
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: var(--fw-l);
    margin-bottom: auto;
    @include text-truncate(4);
  }

  &__link {
    font-size: 16px;
    font-weight: var(--fw-l);
    color: var(--primary);

    span {
      color: var(--primary);
    }
  }

  &__header {
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__footer {
    @extend %flex-column;

    gap: var(--gap-s);
  }
}
