include ../svg-icon/svg-icon

mixin main-link(data)
  a(href= data.href class= data.class ? data.class : null).main-link
    if data.icon
      +svg-icon({
        name: data.icon,
        iconW: data.iconW ? data.iconW : 16,
        iconH: data.iconH ? data.iconH : 16,
      })
    if data.text
      span!= data.text
