.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-fuild-offset);
  max-width: var(--container-fluid-width);
}

.lw-seperator {
  max-width: 330px;
  max-height: 24px;
  display: block;
  margin: 0 auto;
}
