h1,
h2,
h3,
h4,
h5,
h6,
.base-title,
.main-title {
  margin-top: 0;
  margin-bottom: 1.2em;
  font-weight: var(--fw-b);
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-weight: var(--fw-r);
  font-family: var(--secondary-font);
}

h1 {
  font-size: var(--fs-xl);
}

h2 {
  font-size: var(--fs-lg);
}

h3 {
  font-size: var(--fs-md);
}

h4 {
  font-size: var(--fs-sm);
}

h5 {
  font-size: var(--fs-h5);
}

h6 {
  font-size: var(--fs-xs);
}

ol,
ul {
  margin: 0;
  margin-bottom: var(--gap-xxl);

  li {
    font-family: var(--secondary-font);
  }
}

blockquote {
  margin: 0;
  padding-left: 28px;
  font-family: var(--secondary-font);
  border-left: 4px solid var(--primary);
  margin-bottom: var(--gap-xxl);
}

small {
  display: inline-block;
  margin-bottom: 1.5em;
  font-family: var(--secondary-font);
  color: var(--main-title-color);
}

.main-title {
  display: block;
  font-weight: var(--main-title-fw);
  margin-bottom: 1em;
  color: var(--white);
  font-family: var(--primary-font);
  word-break: break-word;

  span {
    color: var(--main-title-color);
  }
}

.base-title {
  display: block;
  font-weight: var(--base-title-fr);
  margin-bottom: clamp(calc(var(--gap-xl) * 1.1), 7vw, var(--gap-xxl));
  color: var(--white);
  font-family: var(--primary-font);
  word-break: break-word;

  span {
    color: var(--base-title-color);
  }
}

.main-text {
  display: block;
  font-family: var(--secondary-font);
  line-height: 1.5;
  color: var(--main-text-color);
}

.base-text {
  display: block;
  // font-size: var(--base-text-fs);
  color: var(--base-text-color);
}

.text-italic {
  font-style: italic;
}

.text-underlined {
  text-decoration: underline;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.white-text {
  color: var(--white);
}

.modal-text {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: var(--fw-l);
}

.ff {
  &-secondary {
    font-family: var(--secondary-font);
  }

  &-accent {
    font-family: var(--accent-font);
  }
}

.fs {
  &-xl {
    font-size: var(--fs-xl);
  }

  &-lg {
    font-size: var(--fs-lg);
  }

  &-md {
    font-size: var(--fs-md);
  }

  &-sm {
    font-size: var(--fs-sm);
  }

  &-xs {
    font-size: var(--fs-xs);
  }
}

.fw {
  &-h {
    font-weight: var(--fw-h);
  }

  &-xb {
    font-weight: var(--fw-xb);
  }

  &-b {
    font-weight: var(--fw-b);
  }

  &-sb {
    font-weight: var(--fw-sb);
  }

  &-m {
    font-weight: var(--fw-m);
  }

  &-r {
    font-weight: var(--fw-r);
  }

  &-l {
    font-weight: var(--fw-l);
  }

  &-xl {
    font-weight: var(--fw-xl);
  }

  &-t {
    font-weight: var(--fw-t);
  }
}
